
<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/client_layout}"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<div layout:fragment="content">
    <!-- BREADCRUMB AREA START -->
    <div class="ltn__breadcrumb-area ltn__breadcrumb-area-2 ltn__breadcrumb-color-white bg-overlay-theme-white-90 bg-image" th:attr="data-bg=@{/client_assets/img/bg/18.jpg}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ltn__breadcrumb-inner ltn__breadcrumb-inner-2 justify-content-between">
                        <div class="section-title-area ltn__section-title-2">
                            <h6 class="section-subtitle ltn__secondary-color">//  Welcome to our company</h6>
                            <h1 class="section-title white-color">Account</h1>
                        </div>
                        <div class="ltn__breadcrumb-list">
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li>Forgot Password</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- BREADCRUMB AREA END -->

    <!-- LOGIN AREA START (Register) -->
    <div class="ltn__login-area pb-110">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title-area text-center">
                        <h1 class="section-title">Forgot Password <br>Your Account</h1>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. <br>
                            Sit aliquid,  Non distinctio vel iste.</p>
                    </div>
                </div>
            </div>
            <div th:if="${error != null}">
                <p class="text-danger">[[${error}]]</p>
            </div>
            <div th:if="${message != null}">
                <p class="text-warning">[[${message}]]</p>
            </div>
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="account-login-inner">
                        <form th:action="@{/forgotpassword}" method="post" class="ltn__form-box contact-form-box">
                            <div class="border border-secondary rounded p-3">

                                <div>
                                    <p>We will be sending a reset password link to your email.</p>
                                </div>
                                <div>
                                    <p>
                                        <input type="email" name="email" class="form-control" placeholder="Enter your e-mail" required autofocus/>
                                    </p>
                                    <div class="btn-wrapper">
                                        <button class="theme-btn-1 btn reverse-color btn-block" type="submit">SEND</button>
                                    </div>
                                </div>
                            </div>

                        </form>
                        <div class="by-agree text-center">
                            <div class="go-to-btn mt-50">
                                <a href="/login">Login</a>
                            </div>
                            <div class="btn-wrapper">
                                <a href="/register" class="theme-btn-1 btn black-btn">CREATE ACCOUNT</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- LOGIN AREA END -->

</div>
</body>
</html>