<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin_layout}"
      lang="en">
<head>
  <meta charset="UTF-8">
  <title>Edit Item</title>
</head>
<body>
<div layout:fragment="content">
  <!-- start page title -->
  <div class="row">
    <div class="col-12">
      <div class="page-title-box d-sm-flex align-items-center justify-content-between">
        <h4 class="mb-sm-0 font-size-18">Edit Item</h4>

        <div class="page-title-right">
          <ol class="breadcrumb m-0">
            <li class="breadcrumb-item"><a th:href="@{/admin/item}">Items</a></li>
            <li class="breadcrumb-item active">Edit Item</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <!-- end page title -->

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Item Information</h4></div>
        <div class="card-body">
          <form th:action="@{/admin/item/edit}" th:object="${item}"
                method="post">
            <div class="row">
              <div class="col-sm-6">

                <div class="mb-3">
                  <label for="itemName">Item Name</label>
                  <input th:field="*{itemName}" id="itemName" name="itemName" type="text" class="form-control" pattern=".{3,}" title="Item name must be at least 3 characters long." th:value="*{itemName}">
                  <div style="text-align: left; margin-top: 13px">
                    <span class="alert alert-danger" th:if="${#fields.hasErrors('itemName')}" th:errors="*{itemName}"></span>
                  </div>
                </div>

                <div class="mb-3">
                  <label for="description">Description</label>
                  <textarea th:field="*{description}" id="description" name="description" class="form-control" rows="4" th:text="*{description}"></textarea>
                  <div style="text-align: left; margin-top: 13px">
                    <span class="alert alert-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
                  </div>
                </div>
              </div>

              <div class="col-sm-6">
                <div class="mb-3">
                  <label for="price">Price</label>
                  <input th:field="*{price}" id="price" name="price" type="number" class="form-control" min="0.1" step="0.01" th:value="*{price}" required>
                  <div style="text-align: left; margin-top: 13px">
                    <span class="alert alert-danger" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></span>
                  </div>
                </div>

                <div class="mb-3">
                  <label for="quantity">Quantity</label>
                  <input th:field="*{quantity}" id="quantity" name="quantity" type="number" class="form-control" min="1" th:value="*{quantity}" required>
                  <div style="text-align: left; margin-top: 13px">
                    <span class="alert alert-danger" th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}"></span>
                  </div>
                </div>

                <div class="mb-3">
                  <label for="category">Category</label>
                  <select th:field="*{category}" id="category" name="category" class="form-control">
                    <option th:each="category : ${categories}" th:value="${category}" th:text="${category}"></option>
                  </select>
                  <div style="text-align: left; margin-top: 13px">
                    <span class="alert alert-danger" th:if="${#fields.hasErrors('category')}" th:errors="*{category}"></span>
                  </div>
                </div>
              </div>
            </div>

            <div class="d-flex flex-wrap gap-2">
              <input type="submit" value="Save Changes" class="btn btn-primary waves-effect waves-light">
              <a th:href="@{/admin/item}" type="button"
                 class="btn btn-secondary waves-effect waves-light">Cancel</a>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
  <!-- end row -->
</div>

</body>
</html>
