<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin_layout}"
      lang="en">
<head>
  <meta charset="UTF-8">
  <title>User manager</title>
  <style>
    .button-active {
      background-color: green;
      color: white;
      border: 2px solid green;
      border-radius: 50px; /* Tạo viền tròn */
      padding: 10px 20px;  /* Kích thước nút */
      cursor: pointer;
    }

    .button-inactive {
      background-color: red;
      color: white;
      border: 2px solid red;
      border-radius: 50px; /* Tạo viền tròn */
      padding: 10px 20px;  /* Kích thước nút */
      cursor: pointer;
    }

    .button-active:hover,
    .button-inactive:hover {
      opacity: 0.8; /* Tạo hiệu ứng hover */
    }

  </style>
</head>
<body>
<div layout:fragment="content">
  <!-- start page title -->
  <div class="row">
    <div class="col-12">
      <div class="page-title-box d-sm-flex align-items-center justify-content-between">
        <h4 class="mb-sm-0 font-size-18">Users</h4>

        <div class="page-title-right">
          <ol class="breadcrumb m-0">
            <li class="breadcrumb-item"><a th:href="@{/admin}">Home</a></li>
            <li class="breadcrumb-item active">Users</li>
          </ol>
        </div>

      </div>
    </div>
  </div>
  <!-- end page title -->
  <span class="d-none" id="messageSuccess" th:text="${message}"></span>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row mb-2">
            <div class="col-sm-4">
<!--              <div class="search-box me-2 mb-2 d-inline-block">-->
<!--                <div class="position-relative">-->
<!--                  <input type="text" class="form-control" placeholder="Search...">-->
<!--                  <i class="bx bx-search-alt search-icon"></i>-->
<!--                </div>-->
<!--              </div>-->
            </div>
<!--            <div class="col-sm-8">-->
<!--              <div class="text-sm-end">-->
<!--                <a th:href="@{/admin/user/add}" type="button" class="btn btn-success btn-rounded waves-effect waves-light mb-2 me-2"><i class="mdi mdi-plus me-1"></i> Add New User</a>-->
<!--              </div>-->
<!--            </div>&lt;!&ndash; end col&ndash;&gt;-->
          </div>

<!--          <div class="table-responsive">-->
<!--            <table id="users" class="table align-middle table-nowrap table-check">-->
<!--              <thead class="table-light">-->
<!--              <tr>-->
<!--                <th class="align-middle">ID</th>-->
<!--                <th class="align-middle">Name</th>-->
<!--                <th class="align-middle">Phone</th>-->
<!--                <th class="align-middle">Action</th>-->
<!--              </tr>-->
<!--              </thead>-->
<!--              <tbody>-->
<!--              <tr th:each="user: ${users}">-->
<!--                <td><a class="text-body fw-bold">#<span th:text="${user.id}"></span></a> </td>-->
<!--                <td th:text="${user.full_name}"></td>-->
<!--                <td th:text="${user.phone}"></td>-->
<!--                <td>-->
<!--                  <div class="d-flex gap-3">-->
<!--                    <a th:href="@{/admin/user/edit/{id}(id=${user.id})}" title="Edit" class="text-success"><i class="mdi mdi-pencil font-size-18"></i></a>-->
<!--                  </div>-->
<!--                </td>-->
<!--              </tr>-->
<!--              </tbody>-->
<!--            </table>-->
<!--          </div>-->


<!--            <h2>Trips</h2>-->
<!--            <a asp-controller="Admin" asp-action="Index" class="btn btn-default pull-right">-->
<!--              <span class="fa fa-dashboard fa-fw  text-info"></span> Dashboard-->
<!--            </a>-->
<!--            <p>Whole Trips on System - Statistics Overview</p>-->

            <div class="row">
              <div class="col-md-12">
                <br /><br />
                <table class="table table-hover table-responsive" id="users">
                  <thead>
                  <tr>
                    <th><span class="fa fa-location-arrow"></span> ID</th>
                    <th> <span class="fa-regular fa-user"></span>UserName</th>
                    <th> <span class="fa-solid fa-envelope"></span>Email</th>
                    <th><span class="fa fa-user-circle"></span>Name</th>
                    <th><span class="fa fa-phone"></span>Phone</th>
                    <th><i class="fa-brands fa-google" style="color: #63E6BE;"></i>Provider</th>
                    <th><span class="fa fa-cog"></span>Active</th>
<!--                    <th><span class="fa fa-cog"></span>Action</th>-->
<!--                    <th>-->
<!--                      <a asp-controller="Admin" asp-action="AddTrip" class="btn btn-link">-->
<!--                        <span class="fa fa-plus fa-fw  text-info"></span> Add New Trip-->
<!--                      </a>-->
<!--                    </th>-->
                  </tr>
                  </thead>
                  <tbody>
                  <tr th:each="user: ${users}">
                    <td><a class="text-body fw-bold"><span th:text="${user.id}"></span></a> </td>
                    <td th:text="${user.username}"></td>
                    <td th:text="${user.email}"></td>
                    <td th:text="${user.full_name}"></td>
                    <td th:text="${user.phone}"></td>
                    <td th:text="${user.provider}"></td>
<!--                    <td>-->
<!--                      <a th:href="@{/admin/user/toggleActive/{id}(id=${user.id})}"  onclick="return confirm('Are you sure to inactive?');">-->
<!--                        <button th:class="${user.active ? 'button-active' : 'button-inactive'}"-->
<!--                                th:text="${user.active ? 'Deactivate' : 'Activate'}">-->
<!--                        </button>-->
<!--                      </a>-->
<!--                    </td>-->
                    <td>
                      <div class="d-flex gap-3">
                        <a th:href="@{/admin/user/edit/{id}(id=${user.id})}" title="Edit" class="text-success"><i class="mdi mdi-pencil font-size-18"></i></a>
                      </div>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>


          <!--          <div th:if = "${totalPages > 1}">-->
<!--            <div class = "row col-sm-11">-->
<!--              <div class = "col-sm-2">-->
<!--                Total Items: [[${totalItems}]]-->
<!--              </div>-->
<!--              <div class = "col-sm-2">-->
<!--					            <span th:each="i: ${#numbers.sequence(1, totalPages)}">-->
<!--                                    <a th:if="${currentPage != i}" th:href="@{'/admin/user/page/' + ${i}}">[[${i}]]</a>-->
<!--						        <span th:unless="${currentPage != i}">[[${i}]]</span>  &nbsp; &nbsp;-->
<!--					            </span>-->
<!--              </div>-->
<!--              <div class = "col-sm-1">-->
<!--                <a th:if="${currentPage < totalPages}" th:href="@{'/admin/user/page/' + ${currentPage + 1}}">Next</a>-->
<!--                <span th:unless="${currentPage < totalPages}">Next</span>-->
<!--              </div>-->

<!--              <div class="col-sm-1">-->
<!--                <a th:if="${currentPage < totalPages}" th:href="@{'/admin/user/page/' + ${totalPages}}">Last</a>-->
<!--                <span th:unless="${currentPage < totalPages}">Last</span>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
        </div>
      </div>
    </div>
  </div>
  <script th:src="@{/webjars/jquery/3.6.4/jquery.min.js}"></script>
  <script th:inline="javascript">
    $(document).ready(function () {
      var message = $('#messageSuccess').text();
      toastr.options = {
        "closeButton": true,
        "progressBar": true,
      }
      if (message !== '') {
        toastr.success(message);
      }

    });
  </script>
</div>

</body>
</html>


